<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" authCookieName=".SFAUTH-TaskSitefinity" rolesCookieName=".SFROLES-TaskSitefinity" validationKey="08441B8AB5DCEB38A135DBBEB7F8C17F6C27EDCD92452B1EEB42C190E13E74DFDB50AFFF464EEBC6846DFC772905EC8EC47AB4CA1921416AA6E879D8990FBC14" decryptionKey="38ED01B4EB0AD97052D934E6A1AFD48CFD6487343185BFB3CD146B4AA05F0DD7" loggingCookieName=".SFLOG-TaskSitefinity">
	<securityTokenIssuers>
		<add key="3C705707E2D87D06E45DD80F4C936F29609CBEE42CCF6653FF1A7879D13E82CC" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="3C705707E2D87D06E45DD80F4C936F29609CBEE42CCF6653FF1A7879D13E82CC" realm="http://localhost" />
	</relyingParties>
</securityConfig>